{% extends "./layout.twig" %}

{% block title %}
    Главная страница
{% endblock %}
{% block content %}
    <h2>Домашняя страница</h2>
    <h3>Все записи</h3>

    <ul class="b-notes">
        {% for note in notes %}
            {% include "./templates/note.twig" with {id: note.id, title: note.title, content: note.content, timeCreate: note.timeCreate}%}
        {% endfor %}
    </ul>
    <h3>Создать запись</h3>

    <form method="post" action="/create-note" class="b-form">
        <label for="title">Заголовок</label>
        <input id="title" type="text" name="title" class="b-form__input">
        <label for="content">Заголовок</label>
        <textarea id="content" cols="30", rows="10" name="content" class="b-form__textarea"></textarea>
        <button class="b-form__button" type="submit">Отправить</button>
        <button type="reset">Очистить</button>
    </form>
{% endblock %}


