extends layout
block title 
    title Домашняя страница
block content
    h2 Домашняя страница
    h3 Все записи:
    ul.b-notes
        each val in notes
            li.b-notes__item= val
    h3 Создать запись:
    form(method="post").b-form
        label(for="title") Заголовок
        input(id="title", name="title" type="text").b-form__input
        label(for="body") Cодержание
        textarea(id="body", name="body", cols="30", rows="10").b-form__textarea
        button.b-form__button сохранить
